header {
  height: 200px;
  width: 100%;
  text-align: center;
  .logo {
    font-size: 5rem;
    line-height: 12rem;
    color: $primary-blue
  }
}

nav {
  padding: 10px;
  background: $primary-blue;
  color: $white;
  li {
    &:hover {
      color: $black;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
