.modal-content {
  padding: 15px;
  box-sizing: border-box;
  h2 {
    border-bottom: 1px solid $gray;
    color: $primary-blue;
  }
}

#close-modal {
  float: right;
  background: none;
  color: $primary-blue;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  &:hover {
    background: $primary-blue;
    color: $white;
    cursor: pointer;
  }
}

.confirm-content {
  text-align: center;
  p {
    margin-top: 100px;
  }
  input {
    width: 75px;
    background: $primary-blue;
    color: $white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px 0 7px 0;
    &:hover {
      background: none;
      color: $primary-blue;
    }
  }
  #confirm-no {
    font-weight: 200;
  }
}
